body{
    background-image: url("https://yt3.googleusercontent.com/JxGh0DbaT9luSHhtr7XMSUyQXDxRq_I1k7DM3r5lnqfatwNmOz5kALXL53Zuj4krm_MsUi3ZoTY=w1707-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj");
    text-align: center;
    background-size: cover;
}
div{
    background-color: rgba(255, 255, 255, 0.853);
    width: 500px;
    margin-left: 37%;
    color: red;
}
p{
    font-size: 45px;
}

h1{
    font-size: 50px;
}
